.blogui{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--color-footer);
    height: 100%;
    width: 100%;
   
}
.blogui-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.blogui-img img{
    width: 100%;
    height: 100%;
}
.blogui-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: 100%;
}
.blogui-text-sec1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}


.blogui-text-sec1 h3{
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 5rem;
}
.blogui-text-sec1 p{
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}
.blogui-text p:last-child{
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
    cursor: pointer;
}
@media screen and (max-width: 550px){
    .blogui-text-sec1 h3{
        font-weight: 800;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 2rem;
    }
    .blogui-text{

        padding: 0.5rem;
        height: 100%;
    }
    
    
}