.get{
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
}
.get-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    padding: 1rem;
    /* margin-left: 2rem; */
    
    /* max-width: fit-content; */
}
.get-main p{
    width: 318.87px;
    height: 46.89px;
    font-weight: 900;
    font-size: 12px;
    line-height: 50px;
}
.get-main h1{
    font-size: 40px;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 1rem;
    
}
.get-btn {
   display: flex;
   align-items: center;
   margin: 1rem ;
   padding: 1rem;
   
}
.get-btn button {
    border: none;

    background: black;
    color: wheat;
    font-weight: bold;
    font-size: 15px;
    width: 189.14px;
    height: 59.4px;
    border-radius: 40px;
}
@media screen and (max-width: 950px){
    .get{
        flex-direction: column;
    }
    .get-btn{
        margin: 0;
        padding: 0.5;
    }
    .get-main{
        justify-content: center;
        align-items: center;

        text-align: center;
        /* margin-left: 5rem; */

    }
    
}