.wgpt3{
    background: var(--color-footer);
  
    
    background:-moz-radial-gradient(circle at 50% 46%, rgba(4, 44, 84, 1) 0%, rgba(17, 66, 120, 1) 100%);
    background:-webkit-radial-gradient(circle at 50% 46%, rgba(4, 44, 84, 1) 0%, rgba(17, 66, 120, 1) 100%);
    background:-o-radial-gradient(circle at 50% 46%, rgba(4, 44, 84, 1) 0%, rgba(17, 66, 120, 1) 100%);
    background:-ms-radial-gradient(circle at 50% 46%, rgba(4, 44, 84, 1) 0%, rgba(17, 66, 120, 1) 100%);
    background:radial-gradient(circle at 50% 46%, rgba(4, 44, 84, 1) 0%, rgba(17, 66, 120, 1) 100%);

}
.wgpt3-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.wgpt3-heading h1{
    max-width: 510px;
    font-size: 35px;
    font-weight: 700px;
    
}
.wgpt3-heading p{
   color: var(--color-org);
   font-weight: 900;
   cursor: pointer;
}
.wgpt3-feature{
    display: flex;
    flex-direction: row;
}

.wgpt3-container{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1100px){
    .wgpt3-heading{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0rem;
        
    }
    .wgpt3-heading h1{
        font-size: 43px;
        max-width: none;
    }
    .wgpt3-heading p{
        margin-top: 4rem;
        margin-left: 0.5rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .wgpt3-container{
        flex-direction: column;
        
    }
}
@media screen and (max-width: 566px) {
    
    .wgpt3-heading h1{
        font-size: 30px;
        
    }
    .wgpt3-heading {
        word-spacing: 0.5rem;
        
    }
    
}